# Игнорировать директорию credentials и все ее содержимое
credentials/

# Игнорировать config.go (файл конфигурации)
config.go

# Игнорировать сгенерированные файлы
*.log
*.tmp

# Игнорировать временные файлы, специфичные для IDE
*.swp
*.swo
.idea/
.vscode/
